* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --color-primary: hsl(224, 72%, 50%); /* Interactivity */
  --color-primary-tint: hsla(224, 72%, 50%, 0.1);
  --color-primary-shade: hsl(224, 72%, 35%);

  --color-darkest: hsl(224, 58%, 10%); /* Heading text */
  --color-dark: hsl(224, 27%, 24%); /* Secondary text */
  --color-medium: hsl(224, 18%, 43%); /* Non-decorative borders */
  --color-light: hsl(224, 24%, 74%); /* Decorative borders*/
  --color-lightest: hsl(224, 24%, 96%); /* Background */
  --color-white: #fff; /* Alternate backgrounds */

  --nav-height: 6.4rem;

  background-color: var(--color-lightest);
  color: var(--color-dark);

  scroll-behavior: smooth;
}
