* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      /* Typography */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 62.5%;

    /* Colors */
    --color-primary: hsl(197, 76%, 59%);  /* Interactivity */
    --color-white: hsl(0, 0%, 98%);       /* Heading text */
    --color-lightest: hsl(197, 6%, 78%);  /* Secondary text */
    --color-light: hsl(197, 8%, 67%);     /* Non-decorative borders */
    --color-medium: hsl(197, 10%, 31%);   /* Decorative borders */
    --color-dark: hsl(197, 11%, 22%);     /* Alternate backgrounds */
    --color-darkest: hsl(197, 12%, 14%);  /* Background */

    /* Spacing */
    --spacing-xxs: 0.8rem;
    --spacing-xs: 1.6rem;
    --spacing-s: 2.4rem;
    --spacing-m: 3.2rem;
    --spacing-l: 4rem;
    --spacing-xl: 4.8rem;
    --spacing-xxl: 5.6rem;
    --spacing-xxxl: 6.4rem;

    /* Border radius */
    --border-radius: 0.4rem;

    /* Shadows */
    --shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.1);

    background-color: var(--color-darkest);

    scroll-behavior: smooth;
}


